Repository kubernetes-sigs/cluster-api-provider-kubevirt, pull requests merged in 2022-04, with the labels that each got.

#128 Add More permissions to clusterkubevirtadm Role
  clusterkubevirtadm/cmd/credentials/credentials.go
  clusterkubevirtadm/cmd/credentials/credentials_test.go
Labels: cncf-cla: yes, approved, size/S, ok-to-test, lgtm

#127 Switch to using rook-ceph for e2e storage class
  e2e-tests/create-cluster_test.go
  kubevirtci
  templates/cluster-template-persistent-storage.yaml
Labels: cncf-cla: yes, approved, size/S, ok-to-test, lgtm

#126 refactor: move environment context out of e2e tests logic
  e2e-tests/create-cluster_test.go
  hack/functest.sh
Labels: cncf-cla: yes, approved, size/S, ok-to-test, lgtm

#129 Change "kubevirtci create-cluster" command to use clusterkubevirtadm kubeconfig
  kubevirtci
Labels: cncf-cla: yes, approved, size/S, ok-to-test, lgtm

#130 MachineHealthCheck and node remediation integration
  api/v1alpha1/kubevirtcluster_types.go
  api/v1alpha1/kubevirtmachine_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_kubevirtmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_kubevirtmachinetemplates.yaml
  controllers/kubevirtmachine_controller.go
  controllers/kubevirtmachine_controller_test.go
  e2e-tests/create-cluster_test.go
  go.mod
  go.sum
  pkg/kubevirt/machine.go
  pkg/kubevirt/machine_factory.go
  pkg/kubevirt/mock/machine_factory_generated.go
Labels: cncf-cla: yes, approved, size/XL, ok-to-test, lgtm

#131 refactor e2e tests
  Makefile
  e2e-tests/e2e-tests.go
  e2e-tests/e2e_tests_suite_test.go
  e2e-tests/setup_teardown.go
  e2e/common_test.go
  e2e/create-cluster_test.go
  e2e/e2e-suite_test.go
  e2e/e2e_test.go
  hack/build-e2e.sh
  hack/functest.sh
  hack/run-e2e.sh
Labels: cncf-cla: yes, approved, size/L, ok-to-test, lgtm

#108 Added integration with the image-builder kubevirt image
  Makefile
  e2e/create-cluster_test.go
  hack/functest.sh
  kubevirtci
Labels: cncf-cla: yes, approved, size/S, ok-to-test, lgtm
