Repository kubernetes-sigs/cluster-api-provider-kubevirt, pull requests merged in 2022-07, with the labels that each got.

#148 Revert "Fix flaky e2e test"
  e2e/create-cluster_test.go
Labels: cncf-cla: yes, approved, size/S, ok-to-test, lgtm

#155 Unblock e2e CI tests
  e2e/create-cluster_test.go
  hack/functest.sh
  kubevirtci
Labels: cncf-cla: yes, approved, size/S, ok-to-test, lgtm

#151 Fix external deletion
  pkg/kubevirt/machine.go
  pkg/kubevirt/machine_test.go
  pkg/testing/common.go
Labels: cncf-cla: yes, approved, size/L, ok-to-test, lgtm

#157 Avoid reporting not-found errors when patching resources under deletion.
  controllers/kubevirtcluster_controller.go
  controllers/kubevirtcluster_controller_test.go
  controllers/kubevirtmachine_controller.go
Labels: cncf-cla: yes, size/M, approved, ok-to-test, lgtm

#160 Select kubeconfig current context namespace before 'default'.
  pkg/infracluster/infracluster.go
Labels: cncf-cla: yes, approved, size/S, ok-to-test, lgtm

#154 kubevirtci: Wait for cluster and calico
  kubevirtci
Labels: cncf-cla: yes, approved, size/S, ok-to-test, lgtm

#159 Add capk user properly when users already defined.
  controllers/kubevirtmachine_controller.go
  controllers/kubevirtmachine_controller_test.go
Labels: cncf-cla: yes, approved, size/L, ok-to-test, lgtm
