Repository kubernetes-sigs/cluster-api-provider-kubevirt, pull requests merged in 2022-08, with the labels that each got.

#164 Copy Kubeadm userdata secret labels to CAPK secret.
  controllers/kubevirtmachine_controller.go
  controllers/kubevirtmachine_controller_test.go
Labels: cncf-cla: yes, size/M, approved, ok-to-test, lgtm

#167 Fix infra secret lookup so that it defaults to the namespace of the referencing resource
  controllers/kubevirtcluster_controller_test.go
  controllers/kubevirtmachine_controller_test.go
  pkg/infracluster/infracluster.go
  pkg/infracluster/infracluster_test.go
  pkg/infracluster/kubevirt_suite_test.go
  pkg/kubevirt/machine_test.go
  pkg/loadbalancer/loadbalancer_test.go
  pkg/ssh/cluster_node_ssh_keys_test.go
  pkg/testing/common.go
Labels: cncf-cla: yes, approved, size/L, ok-to-test, lgtm

#145 Graceful deletion of a VirtualMachineInstance
  api/v1alpha1/kubevirtcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_kubevirtmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_kubevirtmachinetemplates.yaml
  config/rbac/role.yaml
  controllers/kubevirtmachine_controller_test.go
  controllers/vmi_eviction_controller.go
  controllers/vmi_eviction_controller_test.go
  e2e/create-cluster_test.go
  go.mod
  go.sum
  hack/run-e2e.sh
  kubevirtci
  main.go
  pkg/workloadcluster/mock/workloadcluster_generated.go
  pkg/workloadcluster/workloadcluster.go
  templates/cluster-template-ext-infra.yaml
  templates/cluster-template-persistent-storage.yaml
  templates/cluster-template.yaml
Labels: cncf-cla: yes, approved, size/XXL, ok-to-test, lgtm

#156 test, reporter: Integrate with kubevirt dump
  e2e/e2e-suite_test.go
  hack/run-e2e.sh
Labels: cncf-cla: yes, size/M, approved, ok-to-test, lgtm

#171 Updated metadata.yaml major version to 0 to fix clusterctl problem
  metadata.yaml
Labels: cncf-cla: yes, approved, size/XS, ok-to-test, lgtm

#166 e2e: sonobuoy conformance tests
  Makefile
  hack/conformance.sh
  hack/run-conformance.sh
Labels: cncf-cla: yes, approved, size/L, ok-to-test, lgtm

#174 build and publish multi-arch image manifest
  .github/workflows/create_release.yaml
  .github/workflows/image_build.yaml
Labels: cncf-cla: yes, approved, size/S, ok-to-test, lgtm

#177 Add the cluster-template.yaml file to the relrase assets
  .github/workflows/create_release.yaml
Labels: cncf-cla: yes, approved, size/S, ok-to-test, lgtm
