Repository kubernetes-sigs/cluster-api-provider-kubevirt, pull requests merged in 2023-08, with the labels that each got.

#253 fix(api): default value for KubeVirtCluster.status.ready field
  api/v1alpha1/kubevirtcluster_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_kubevirtclusters.yaml
Labels: cncf-cla: yes, approved, size/XS, ok-to-test, lgtm

#255 fix: api reader for CCM clean-up to avoid cache lazy loading
  controllers/kubevirtcluster_controller.go
  main.go
Labels: cncf-cla: yes, approved, size/S, ok-to-test, lgtm

#259 Fix "should succeed with the kubevirt cluster being deleted" unit test
  controllers/kubevirtcluster_controller_test.go
  hack/kccm-flavor-gen.sh
Labels: cncf-cla: yes, approved, size/XS, ok-to-test, lgtm

#257 Bump golang to 1.20
  .github/workflows/clusterkubevirtadm-test.yaml
  .github/workflows/create_release.yaml
  .github/workflows/e2e.yaml
  .github/workflows/image_build.yaml
  .github/workflows/test.yaml
  Dockerfile
  Makefile
  go.mod
Labels: cncf-cla: yes, size/M, approved, ok-to-test, lgtm

#256 chore(golangci-lint): v1.54.2 pinning and config file
  .github/workflows/test.yaml
  .golangci.yml
  Makefile
Labels: cncf-cla: yes, size/M, approved, ok-to-test, lgtm

#251 Add KubevirtClusterTemplate resource to support ClusterClass feature
  api/v1alpha1/kubevirtclustertemplate_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_kubevirtclustertemplates.yaml
  config/crd/kustomization.yaml
  pkg/loadbalancer/loadbalancer.go
  pkg/loadbalancer/loadbalancer_test.go
  pkg/workloadcluster/workloadcluster.go
Labels: cncf-cla: yes, approved, size/L, ok-to-test, lgtm

#261 Allow runing github action with `ok-to-test`
  .github/workflows/pr-gh-workflow-approve.yaml
Labels: cncf-cla: yes, size/M, approved, ok-to-test, lgtm
